.forth {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 320px;
    h3 {
        margin-top: 0px;
        @include mainText;
        margin-bottom: 0px;
    }  
    p {
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        color: $main-bluegray;
        margin-top: 24px;  
        margin-bottom: 80px;
    }
}

.card {
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    .ContentBox1 {
        width: 266px;
        height: 300px;
        display: grid;
        grid-template-rows: 220px 80px;
        border-radius: 10px;
        border: 1px solid #E2E8F0;
        background-color: white;  
        div {
            display: grid;
            grid-template-columns: 25% 75%;
            align-items: center;
            img {
                padding-left: 10px;
                justify-items: center;
            }
            p {
                margin: 0px;
                font-size: 16px;
                font-weight: 400;
                color: #0F172A;
                line-height: 20px;
                padding-right: 60px;
                span {
                    font-size: 14px;
                    color: #475569;
                    font-weight: 400;
                }
            }
        }
    }
    .ContentBox2 {
     @include mainCard;   
    }
    .ContentBox3 {
        @include mainCard;
    }
    .ContentBox4 {
        @include mainCard;
    }
}

    
